<div class="m-4 my-3">
  <h2>
    <strong>Concat Map</strong>
  </h2>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-3">
      <strong>Ex : 01 </strong> | Map
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Names : </strong> ['divya', 'grishma',
        'kunjal','Parth','Tejas','Pihu','Vani']
      </p>
      <br />
      <hr />
      <div class="card">
        <div class="card-header">Names List</div>
        <div class="card-body">
          <ul class="techList" id="map"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <strong>Ex : 02 </strong> | MergeAll
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Names : </strong> ['divya', 'grishma',
        'kunjal','Parth','Tejas','Pihu','Vani']
      </p>
      <br />
      <hr />
      <div class="card">
        <div class="card-header">Names List</div>
        <div class="card-body">
          <ul class="techList" id="mergeAll"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <strong>Ex : 03 </strong> | ConcatMap
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Names : </strong> ['divya', 'grishma',
        'kunjal','Parth','Tejas','Pihu','Vani']
      </p>
      <br />
      <hr />
      <div class="card">
        <div class="card-header">Names List</div>
        <div class="card-body">
          <ul class="techList" id="ConcatMap"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <strong>Ex : 03 </strong> | Prepend
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Names : </strong> ['divya', 'grishma',
        'kunjal','Parth','Tejas','Pihu','Vani']
      </p>
      <br />
      <hr />
      <div class="card">
        <div class="card-header">Names List</div>
        <div class="card-body">
          <ul class="techList" id="prepend"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
