<div class="m-4 my-3">
  <h2>
    <strong>Tap</strong>
  </h2>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-4">
      <p class="border rounded bg-light py-2 px-3">
        <strong>ex - 01: </strong>
      </p>
      <hr />
      <div class="card w-50">
        <div class="card-header justify-content-center d-flex">
          Tap Operator
        </div>
        <div class="card-body">
          <ul id="nameid"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="border rounded bg-light py-2 px-3">
        <strong>ex - 02: </strong>
      </p>
      <hr />
      <div class="card w-50">
        <div class="card-header justify-content-center d-flex">
          Tap Operator
        </div>
        <div class="card-body">
          <ul id="name"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
