<div class="row">
  <div class="col-md-6">
    <div class="row mt-2">
      <h2>Men's clothing </h2>
      <hr/>
      <ng-container *ngFor="let product of men | async ">
        <div class="col-lg-5 mb-2">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-6">
                  {{ product.title }}
                </div>
              </div>
            </div>
            <div class="card-body justify-content-center d-flex">
              <div class="row">
                <div class="col-lg-4">
                  <!-- <a [routerLink]="['/', product.id]"> -->
                  <img
                    [src]="product.image"
                    class="shadow-1-strong rounded mb-4 img"
                    alt="Boat on Calm Water"
                  />
                  <!-- </a> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-3">₹ {{ product.price }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-6">
    
    <div class="row mt-2">
      <h2>jewelery</h2>
      <hr/>
      <ng-container *ngFor="let product of jewelery | async ">
        <div class="col-lg-5 mb-2">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-6">
                  {{ product.title }}
                </div>
              </div>
            </div>
            <div class="card-body justify-content-center d-flex">
              <div class="row">
                <div class="col-lg-4">
                  <!-- <a [routerLink]="['/', product.id]"> -->
                  <img
                    [src]="product.image"
                    class="shadow-1-strong rounded mb-4 img"
                    alt="Boat on Calm Water"
                  />
                  <!-- </a> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-3">₹ {{ product.price }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-container *ngIf="products">
  <div class="row justify-content-center mx-auto mt-4">
    <h2>All Products</h2>
      <hr/>
    <ng-container *ngFor="let product of products | async ">
      <div class="col-lg-3 mb-2">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-4">
                {{ product.title }}
              </div>
            </div>
          </div>
          <div class="card-body justify-content-center d-flex">
            <div class="row">
              <div class="col-lg-4">
                <!-- <a [routerLink]="['/', product.id]"> -->
                <img
                  [src]="product.image"
                  class="shadow-1-strong rounded mb-4 img"
                  alt="Boat on Calm Water"
                />
                <!-- </a> -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-lg-3">₹ {{ product.price }}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
