<div class="m-4 my-3">
  <h2>
    <strong>Concat</strong>
  </h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Source : 01 </strong> Tech channel(5)
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Tech Videos List : </strong> 1,2,3,4,5
      </p>
      <br />
    </div>
    <div class="col-md-4">
      <strong>Source : 02 </strong> Comedy channel(3)
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Comedy Videos List : </strong> 1,2,3
      </p>
      <br />
    </div>
    <div class="col-md-4">
      <strong>Source : 01 </strong> News channel(4)
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>News Videos List : </strong> 1,2,3,4
      </p>
      <br />
    </div>
  </div>
  <div class="row justify-content-center d-flex">
    <div class="col-md-6 ">
        <div class="card">
            <div class="card-header">Your Channel Subscriber</div>
            <div class="card-body">
                <ul class="techList" id="concat"></ul>
            </div>
        </div>
    </div>
  </div>
</div>
