<div class="m-4 my-3">
  <h2>Map</h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Map : </strong> data => 'Video' + data
      </p>
      <br />
      <p ngClass="text-primary">{{ msg }}</p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Map : </strong> data => data * 10
      </p>
      <br />
      <p ngClass="text-primary">Message :  {{ videoMsg }}</p>
      
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 </strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>Map</strong> Map object data
      </p>
      <br />
      <ul id="nameinfo" class="text-info">
      </ul>
    </div>
  </div>
</div>
